---
layout: page2
title: "How it started"
description: "All beginnings are hard &nbsp;&nbsp;&ndash; &nbsp;Chaim Potok"
header-img: "img/post-bg-rwd.jpg"
nav_title: How it started
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->
<!-- Chinese Version -->
<div class="post-container">

    <!--copied from markdown -->
    <h1> How this blog came to life</h1>
    <p>
        <h6><em> November 2020 &ndash; </em> Europe is starting to go back into lockdown.</h6>
        During this Corona crisis, a lot of us have extra time on their hands, it's becoming harder to stay in contact with friends and things are becoming kind of dull around the house.
        So I decided to learn some new skills, widen my horizon and do some personal growth as far as it's possible been stuck at home. <br>
        While I was thinking about that, I had the idea to just write everything I learned down in a blog. <br>
        On one hand, it's an opportunity to build a community, and I am telling you, on the day I am writing this, I literally haven't talked to nor texted anybody but my parents for the last 5 days... It's getting sad. <br />
        On the other hand have I always struggled to start something new, no matter how much I wanted to do it.
        Whether it was signing in for dance class, learn a new language, or whatever.
        The organization and decision making behind it made me kind of uncomfortable &ndash; like calling the doctor &ndash; especially when I had to do it alone.
        So I put it off and when I finally got myself to do it, the learning process was often inefficient, slow, and unsatisfying.<br />
        So for all my friends out there, who have the same problem, fear not.
        Now you can find inspiration and take comfort in my struggles, while you read my posts.<br />
        It's going to take a while until I have some topics to choose from, but if you want to learn any of the things, I write about, everything you need to know you will find here.
        If you read the welcome section, you know the plan is to have a new project each month.
        I'm pretty sure depending on the complexity of the topping, there will be projects, which need more than a month, but also some, which need less. <br />
        There is also the possibility, that this whole concept goes down the drain if I fall in love with the theme of one of my projects.
        Worst case, I wont shut up about that specific topic for months, or ever... but for now we stick with the plan!<br />
        I have a few things in mind, that I always wanted to learn, but at some point, I'm going to run out of ideas and that's where you come in.
        I need you guys, to give me new challenges, maybe something you always wanted to learn? We can learn it together!
        Would be my pleasure.<br />
        And if you don't get inspired, or learn anything from my posts, I hope at least you had fun reading it!
    </p>
    <p>
        See you soon, <br>
        Love Lelinah
    </p>
</div>
<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>

    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->
<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render() {
        var _hash = window.location.hash;
        // en
        if (_hash == "#en") {
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        } else {
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index) {
        if (index == 0) {
            window.location.hash = "#zh"
        } else {
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!--Gitalk review start  -->
                {% if site.gitalk.enable %}
<!-- Introducing the Gitalk review plug  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<!-- Introducing a production md5js to handle id values and prevents them from being too long-->
<!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
<script src="{{ site.baseurl }}/js/md5.min.js"></script>
<script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '{{site.gitalk.clientID}}',
                    clientSecret: '{{site.gitalk.clientSecret}}',
                    repo: '{{site.gitalk.repo}}',
                    owner: '{{site.gitalk.owner}}',
                    admin: ['{{site.gitalk.admin}}'],
                    distractionFreeMode: true,
                        id: md5(decodeURI(location.pathname)),
                    });
                    gitalk.render('gitalk-container');
</script>

                {% endif %}
<!-- Gitalk end -->
<!-- disqus 评论框 start  -->
    {% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
    {% endif %}

