---
layout: page2
title: "What can you learn in 30 days?"
description: "Learn continually &ndash; there's always \"one more thing\" to learn  &nbsp;&nbsp;&ndash; &nbsp;Steve Jobs"
---



<p> </p>
<h1> WELCOME </h1>
<p>
    <blockquote>What can you learn in 30 days?</blockquote>
    The anser is "a lot", you just have to start investing in yourself. <br>
    Hello and welcome to Lelinahs-Blog, my name is Lelinah. <br>
    Let me tell you what I am doing here.
    The basic idea of this blog is to give you, there readers, an inside into my monthly learning progress.
    At the beginning of each month, I will choose a new project, a new skill to learn.<br>
    In regular updates, you can see me struggle, curse, and fail, but hopefully, also grow with each challenge.
    Besides that, I will also explain and list, which methods, tools, websites, and other things I used to improve the chosen skill and share with you what I've learned.
    So every post will be part of a series of posts, belonging to a bigger project.<br>
    You can find all of these projects by clicking the "How it's going" button in the right top corner.
    On the "How it started" side you will find out more about my motivation and my hopes and plans for this blog.<br>
    If you are interested in what I am working on right now, go check out my newest posts below!
</p>



<section>
    <h2> NEW POSTS </h2>
    {% for post in paginator.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h5 class="post-title">
                {{ post.title }}
            </h5>
            {% if post.subtitle %}
            <h5 class="post-subtitle">
                {{ post.subtitle }}
            </h5>
            {% endif %}
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:200 }}
            </div>
        </a>
        <p class="post-meta">
            Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
        </p>
    </div>
    <hr>
    {% endfor %}
</section>
<!-- Pager -->
    {% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
    {% endif %}

