---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- Displaying of posts-->
            <h2> {{content }} </h2>
            <ul>
                {% assign filtered_posts = site.posts | where: 'project_title', page.project_title %}
                {% for post in filtered_posts %}
                <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h5 class="post-title">
                            {{ post.title }}
                        </h5>
                        {% if post.subtitle %}
                        <h5 class="post-subtitle">
                            {{ post.subtitle }}
                        </h5>
                        {% endif %}
                        <div class="post-content-preview">
                            {{ post.content | strip_html | truncate:200 }}
                        </div>
                    </a>
                    <p class="post-meta">
                        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                    </p>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- file added: 30 november 2020 -->